@charset "UTF-8";


/*연결 하기 */

/*링크 스타일*/
a:link{text-decoration: none; color:gray; } /*링크 상태일 때 */

/*방문했을 때 */
a:visited{text-decoration:none; color:gray}

/*링크주소에 마우스를 오버하면*/
/* a:hover{text-decoration:none; font-weight:bold; color:gray} */
a:hover{text-decoration:none;color:black}
/*마우스를 누르고 있을 때*/
/*a:active{text-decoration:underline; color:red}*/
a:active{text-decoration:noe; color:gray;}