@charset "UTF-8";

body{
	margin:0px;
	background-color:rgb(236,236,238);
	
}
#main{
	width:700px;
	background-color:#fff;
	margin: 0 auto;
	
}
/*로고*/
#top_logo{
	height:50px;
	text-align:center;
	border-bottom: 1px solid #ddd;
	padding:30px 0px;
}
/*로그인 폼, 배너*/
#login_form{
	padding:60px 40px;
	overflow:auto;
}
#login{
	float:left;
	width:300px;
}
#banner{
	height:250px;
	width:250px;
	float:right;
}
.form_input{
	width:97%;

}
.form_com{ /*class 사용*/
	width:100%;
}
.form{
	margin:3px 0px;
	height:40px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
}
.sub{
	background-color:rgb(78,135,239);
	color:#fff;
	font-size:1.2em;
	
}
#state{
	margin:20px 0px;
}
#check{
	margin:10px 0;
	text-align:center;
	
}
#bottom{
	border-top:1px solid #ddd;
	text-align:center;
	margin:50px 0px;
	
}